sprites/
color/
renders/
palettes/
themes/
levels/
tilecolors.json
alternatetiles.json
testing.py
setup.json
alternatetiles.json
tilecolors.json
log.txt
empty.png
.DS_Store
.vscode/
cogs/__pycache__/*
